<form>
    Base tomate <input type="radio" name="sauce" [(ngModel)]="this.pizza.sauce" value="tomate"/>
    Base crème<input type="radio" name="sauce" [(ngModel)]="this.pizza.sauce" value="creme"/><br><br>

    Anchois<input type="checkbox" name="anchois" [(ngModel)]="this.pizza.anchois" >
    Jambon<input type="checkbox" name="jambon" [(ngModel)]="this.pizza.jambon"  >
    Miel<input type="checkbox" name="miel" [(ngModel)]="this.pizza.miel" >
    Magret<input type="checkbox" name="magret" [(ngModel)]="this.pizza.magret">

    <p>Prix : {{this.pizza.getprix()}}</p>

    <input [disabled]="!isValide()" type="submit" value="envoyer" (click)="goToResume()">
    
</form>

